#directories
vendor
csv

#files
secret.json
service-acc-key.json
sheetId.json
dev.log
index1.html
test1.php
test2.html
testLog.log

#hiddenfiles
.buildpath
.settings
.project

#files with specific ext
*.pdf